form {
  min-height: 80vh;
  margin: auto;
  box-shadow: rgba(23, 106, 117, 0.17) 0px -23px 25px 0px inset,
    rgba(236, 66, 66, 0.15) 0px -36px 30px 0px inset,
    rgba(11, 163, 59, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(119, 216, 8, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(93, 3, 3, 0.09) 0px 16px 8px,
    rgba(93, 2, 2, 0.09) 0px 32px 16px;
}

.gender {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  margin: 1rem;
}

.gender div {
  height: 100%;
  position: relative;
  border: 2px solid black;
  border-radius: 50%;
  margin: 1rem;
}

.gender_img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  cursor: pointer;
}

.colorDiv {
  background-color: #a3f8c2;
}

.weightInput,
.heightInput {
  border: 0;
  font-size: 16px;
  border-radius: 30px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 10px 10px 10 blue;
  margin: 8px;
  box-shadow: inset 2px 2px 5px #82889d, inset -5px -5px 10px rgb(236, 191, 191);
  width: 80%;
  transition: all 0.2s ease-in-out;
}

.weightInput:focus,
.heightInput:focus {
  box-shadow: inset 1px 1px 2px #d19797, inset 1px 1px 2px rgb(233, 21, 21);
}

.weight,
.height,
.gender_text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #870190;
  padding: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 1rem;
}
